body {
  background: black;
  font-family: "Lucida Console";
}

#title { 
  color: white; 
  text-align: center; 
}

p {
  color: white;
  text-align: center;
}

.images {
  text-align: center; 
  border: 2px solid whitesmoke;
  height: auto; 
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; 
}