div.progress, div#bitrate {
  margin: 0 0 1em 0;
}

div.progress div.label {
  display: inline-block;
  font-weight: 400;
  width: 8.2em;
}

form {
  margin: 0 0 1em 0;
  white-space: nowrap;
}

#get { 
  margin-top: 1em;
  margin-bottom: 1em;
}

#videoPlayer { 
  height: auto;
  width: auto;
}

progress {
  width: calc(100% - 8.5em);
}

received { 
  height: auto;
  width: auto; 
  border: 10px solid red; 
}